{% extends "layout.html" %}

{% block content %}
<div id="body">
    <h2>Classes</h2>
    <div class="content">
        <div>
            <div class="section">
                <h3>{{ classes.title1 }}</h3>
                <p>
                    {{ classes.paragraph1 }}
                </p>
                <span>MWF : {{ classes.MWF1 }}</span>
                <span>TTHS : {{ classes.TTHS1 }}</span>
            </div>
            <div class="section">
                <h3>{{ classes.title2 }}</h3>
                <p>
                    {{ classes.paragraph2 }}
                </p>
                <span>MWF : {{ classes.MWF2 }}</span>
                <span>TTHS : {{ classes.TTHS2 }}</span>
            </div>
            <div class="section">
                <h3>{{ classes.title3 }}</h3>
                <p>
                    {{ classes.paragraph3 }}
                </p>
                <span>MWF : {{ classes.MWF3 }}</span>
                <span>TTHS : {{ classes.TTHS3 }}</span>
            </div>
        </div>
        <img src="{{ site_infos.background.url }}" alt="lady doing yoga" class="figure">
    </div>
</div>
	<div id="footer">
		<div>
			<span>{{ site_infos.address }} | {{ site_infos.phone }}</span>
			<p>
				&copy; 2023 by Belle &amp; Carrie Rehabilitation Yoga. All rights reserved.
			</p>
		</div>
		<div id="connect">
			<a href="{{ site_infos.facebook }}" id="facebook" target="_blank">Facebook</a>
			<a href="{{ site_infos.twitter }}" id="twitter" target="_blank">Twitter</a>
			<a href="{{ site_infos.google }}" id="googleplus" target="_blank">Google&#43;</a>
			<a href="{{ site_infos.pinterest }}" id="pinterest" target="_blank">Pinterest</a>
		</div>
    </div>
{% endblock %}