{% load static %}
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Belle &amp; Carrie Rehabilitation Yoga Web Template</title>
	<link rel="stylesheet" type="text/css" href="{% static 'yoga/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'yoga/css/mobile.css' %}">
	<script type='text/javascript' src='{% static "yoga/js/mobile.js" %}'></script>
</head>
<body>
	<div id="header">
		<h1><a href="{% url  'home' %}">Belle &amp; Carrie <span>Rehabilitation Yoga</span></a></h1>
		<ul id="navigation">
			<li class="current">
				<a href="{% url  'home' %}">Home</a>
			</li>
			<li>
				<a href="{% url  'about' %}">About</a>
			</li>
			<li>
				<a href="{% url  'classes' %}">Classes</a>
				<ul>
					<li>
						<a href="{% url  'instructors' %}">Instructors</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="{% url  'contact' %}">Contact</a>
			</li>
			<li>
				<a href="{% url  'blog' %}">Blog</a>
			</li>
		</ul>
    </div>
    {% block content %}
    
    {% endblock %}
<div id="me">
	<p style="color: white;margin-top:2px;"><h2>Backend Development By <a href="https://www.linkedin.com/in/al-motaz-hejazy/">Motaz Hejaze</a></h2></p>
</div>

</body>
</html>